
body {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  overflow-x: hidden;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

.link-black {
  text-decoration: none;
  color: #000000;
}

.discover-link {
  color: #FFFFFF;
}

/* Bar */
header {
  background: linear-gradient(to bottom, rgb(31,38,39), rgb(99, 99, 99));
  padding: 0.2rem;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid black;
  height: 120px;
}

.header-left {
  margin-left: 1.5rem;
}

.header-right {
  display: flex;
  align-items: center;
  z-index: 1;
  margin-top: 3rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin-right: 3rem;
  margin-top: 4rem;
}

/*Dropdown*/

.bar {
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  margin-top:  1rem;
  margin-top: 1rem;
  right: 1.5rem;
}

.hamburger-menu {
  display: none;
}

.nav-button {
  background: none;
  border: none;
  color: var(--text-color-1);
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
  margin-right: 1rem;
}

.nav-list a:hover,
button:hover,
.hamburger-menu a:hover,
.hamburger-menu button:hover,
#cart-icon:hover {
  color: orange;
}

.nav-list a,
.hamburger-menu a,
.dropdown a {
  text-decoration: none;
  color: #ffffff;
}

.dropdown {
  height: 13vh;
}

.dropdown ul {
  list-style: none;
  width: 150px;
  height: 180px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transform: translateY(-10px);
  font-size: 20px;
  background-color: #000000;
  color: #FFFFFF;
}

.hamburger-menu ul {
  list-style: none;
  width: 150px;
  height: auto;
  max-height: 270px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transform: translateY(-10px);
  font-size: 20px;
  right: 1px;
  z-index: 1;
  color: #ffffff;
  position: relative;
  background-color: #000000;
}

.dropdown li,
.hamburger-menu li {
  padding: 0.5rem;
  justify-content: center;
}

.dropdown button:focus + ul,
.hamburger-menu button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

#cart-icon {
  font-size: 2.1rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.SELogoBar {
  height: auto;
  width: 150px;
  filter: brightness(15%);
  max-width: 100%;
  margin-left: 1.5rem;
}


/* Cart */

.dropdown-cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  min-height: 100vh;
  padding: 1rem;
  background: rgb(206, 205, 205);
  box-shadow: 1rem;
  transition: 0.3s;
}

.dropdown-cart.active {
  right: 0;
}

.dropdown-cart h2 {
  text-align: center;
  margin-top: 1rem;
  color: #000;
}

.dropdown-cart img {
  max-height: auto;
  width: 100%;
  width: 170px;
}

.cart-item {
  display: grid;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 2px;
  position: relative;
}

.cart-item-info {
  color: #000000;
  text-transform: uppercase;
}

.cart-item-title {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
}

.cart-item-price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0.2rem;
}

.quantity {
  border: 1px solid grey;
  width: 30px;
  text-align: center;
  border-radius: 3px;
  margin-top: 0;
  font-size: 16px;
}

.remove-item {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  font-size: 14px;
  text-align: center;
  color: #000000;
  height: 25px;
  width: 70px;
  border: 1px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.remove-item:hover {
  background-color: #ff5566;
  color: #000000;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  border-top: 1px solid grey;
}

.total-title  {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.total-price {
  margin-left: 0.5rem;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

button[type="submit"] {
  display: flex;
  margin: 1.5rem auto 0 auto;
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #218838;
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 1.5rem;
  color: grey;
  cursor: pointer;
}

#close-cart:hover {
  color: #000000;
}

/* .bar {
  background-color: rgb(31,38,39);
  background: linear-gradient(to bottom, rgb(31,38,39), rgb(99, 99, 99));
  padding: 0.2rem;
  border: 2px black;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.film-icon,
.user-icon {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 5px;
}

.cart-icon {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 5px;
}

.left.bar ul{
  display: flex;
  align-items: center;
}

.right-bar-dropdown a {
  text-decoration: none;
  color:#000000;
  font-weight: 500;
}

.right-bar-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  margin-right: 2.5rem;
}

.right-bar-dropdown button:hover {
  color: grey;
}

.menu-items {
  position: relative;
  z-index: 1;
}

.menu-items ul {
  background: grey;
  position: absolute;
  right: 2rem;
  margin: auto;
  list-style: none;
  margin-top: 10px;
  width: 130px;
  height: 120px;
  display: flex;
  align-items: inline;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  z-index: 1;
}

.menu-items li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: inline;
  align-items: center;
  margin: 1px;
}

.menu-items li:hover {
  background-color: rgb(156, 151, 143);
  border-radius: 10px;
}

.menu-items button:focus + ul{
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
} */

/* Footer */

.footer {
  height: 1%;
  background-color: #55555;
  padding: 10px 0;
  margin: 0 auto;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.left.footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer ul {
  list-style-type: none;
  margin-left: 10px;
}

.social.icons {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.social-icons a {
  margin-right: 0.5rem
}

.social-icon {
  color: #ffffff;
  font-size: x-large;
}

.copyright {
  font-size: small;
  margin-left: 50px;
}

.right.footer {
  display: flex;
  align-items: center;
}

.SELogoFooter {
  height: auto;
  width: 300px;
  justify-content: flex-end;
  margin-right: 1rem;
  padding: 1rem;
}

/* Home */

.home {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.SELogoHome {
  height: auto;
  width: 700px;
  margin-top: 3rem;
  padding: 1rem;
  filter: brightness(90%);
  max-width: 100%;
  justify-content: center;
  position: relative;
}

.home h1 {
  display: flex;
  padding: 1rem;
  filter: drop-shadow(black);
  max-width: 500px;
  font-size: 25px;
}

.watch-online {
  align-items: center;
  width: 210px;
  height: 55px;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 30px;
  border-radius: 10px;
  background-color: black;
  color: #FFFFFF;
  border: 4px solid white;
  z-index: 1;
  transition: background-color 0.3s;
}

.home button:hover {
  background-color: rgb(68, 40, 28);
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 1700px) {
  .SELogoHome {
    margin-left: 7rem;
    align-self: flex-start;
  }

  .home h1 {
    right: 15%;
  }

  .watch-online:hover {
    background-color: rgb(23, 21, 21);
  }
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 600px) {
  .home {
    height: 100%;
    background-size: cover;
    background-position: 30%;
    backface-visibility: hidden;
  }

  .SELogoHome {
    width: 400px;
    margin-top: 3rem;
  }

  .home h1 {
    text-align: center;
    justify-content: center;
    margin: 10px;
    margin-top: 0;
    padding: 1rem;
    filter: drop-shadow(black);
    z-index: 1;
    width: 300px;
    font-size: 16px;
  }

  .watch-online {
    align-items: center;
    width: 150px;
    height: 45px;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 20px;
    border-radius: 10px;
    background-color: black;
    color: #FFFFFF;
    border: 4px solid white;
    z-index: 1;
    transition: background-color 0.3s;
  }
}


/* .searchfield-container {
  flex-grow: inherit;
  align-items: center;
  min-width: 300px;
  max-width: 750px;
  margin: auto;
  margin-bottom: 2rem;
}

.searchfield {
  background-color: #FFFFFF;
  opacity: 55%;
  margin: 20px;
  width: 750px;
  height: 40px;
  border: 5px;
  border-radius: 5px;
  font-size: 20px;
  max-width: 100%;
} */

/* Media query for smaller screens (e.g., mobile)
@media (min-width: 600px) {
  .searchfield {
    width: 400px;
}
} */

.steps {
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.steps-container {
  margin-right: 1.5rem;
}

.steps ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 12rem;
}

.step-button {
  background-color: rgb(68, 40, 28);
  color: black;
  text-align: center;
  margin: 5px;
  width: 70px;
  height: 70px;
  font-size: 40px;
  border: 2px solid black;
  border-radius: 25%;
  box-shadow: 0px 0px 10px;
  filter: drop-shadow(black);
}

.Step1, .Step2, .Step3 {
  background: linear-gradient(to right, rgb(68, 40, 28), rgb(218, 158, 115), rgb(68, 40, 28));
}

.steps-container h2 {
  max-width: 30px;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 600px) {
  .steps ul {
    flex-direction: column;
    gap: 0;
  }

  .step-button {
    margin-bottom: 0;
  }

  .steps-container h2 {
    max-width: 100%;
  }
}

/*
.latest-editions {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: -3rem;
}

.check-text {
  text-align: center;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(black);
  margin-top: 5rem;
  font-size: 45px;
  margin-left: 3rem;
}

.latest.editions.images {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin-top: -5rem;
}

.imgOnceUponHome,
.imgBatmanHome,
.imgHobbsHome,
.imgSweetHome {
  height: 400px;
  max-width: 375x;
  object-fit: cover;
  object-position: bottom;
  margin: 10px;
  padding: 5px;
  border-radius: 12px;
  flex: 0 0;
}


/* Media query for larger screens (e.g., desktop) */
/* @media (min-width: 1440px) {
.latest-editions {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 5rem;
}

.check-text {
  text-align: center;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(black);
  margin-top: 5rem;
  font-size: 45px;
  margin-left: 3rem;
}

.latest.editions.images {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  margin-top: -5rem;
}

.imgOnceUponHome,
.imgBatmanHome,
.imgHobbsHome,
.imgSweetHome {
  height: 400px;
  max-width: 375x;
  object-fit: cover;
  object-position: bottom;
  margin: 10px;
  padding: 5px;
  border-radius: 12px;
  flex: 0 0;
} */

/* } */ */

/* Media query for smaller screens (e.g., mobile)
@media (max-width: 600px) {
  .latest-editions {
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 5rem;
  }

  .check-text {
    text-align: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(black);
    margin-bottom: -3rem;
    font-size: 30px;
  }

  .latest.editions.images {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 10px;
    margin-top: 0;
  } */
/*
  .imgOnceUponHome,
  .imgBatmanHome {
    height: 265px;
    width: 175px;
    object-fit: cover;
    object-position: bottom;
    margin: 0;
    padding: 5px;
    border-radius: 12px;
    flex: 0 0;
  }

  .imgSweetHome {
    height: 265px;
    width: 175px;
    object-fit: cover;
    object-position: bottom;
    margin-top: -11rem;
    margin-right: -4.5rem;
    padding: 5px;
    border-radius: 12px;
    flex: 0 0;
  }

  .imgHobbsHome {
    height: 265px;
    width: 175px;
    object-fit: cover;
    object-position: bottom;
    margin-top: -11rem;
    margin-left: -4.5rem;
    padding: 5px;
    border-radius: 21px;
    flex: 0 0;
  }
} */
/*
.halloween {
  display: flex;
  background-color: black;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: -2rem;
}

.halloween-text {
  font-size: 30px;
  filter: drop-shadow(black);
  padding: 1rem;
  margin-bottom: 1rem;
  z-index: 1;
}

.halloween.images {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem;
} */
/*
.imgScreamHome,
.imgAddamsHome,
.imgBatmanHome2,
.imgGodzillaHome {
  height: 350px;
  max-width: 360px;
  object-fit: cover;
  object-position: bottom;
  padding: 5px;
  border-radius: 5px;
  margin: -1.5rem;
  margin-top: 1rem;
  min-width: 200px;
} */

/* Media query for larger screens (e.g., desktop)
@media (min-width: 1440px) {
.imgScreamHome,
.imgAddamsHome,
.imgBatmanHome2,
.imgGodzillaHome {
  height: 350px;
  max-width: 360px;
  object-fit: cover;
  object-position: bottom;
  padding: 5px;
  border-radius: 5px;
  margin: -1.5rem;
  margin-top: 1rem;
  min-width: 200px;
}
} */

/* Media query for smaller screens (e.g., mobile)
@media (max-width: 600px) {
.imgScreamHome,
.imgAddamsHome,
.imgBatmanHome2,
.imgGodzillaHome {
  height: auto;
  max-width: 175px;
  object-fit: cover;
  object-position: bottom;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  margin-top: 0;
  min-width: 200px;
}
} */

.discover {
  font-size: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-style: initial;
  color: #FFFFFF;
  filter: drop-shadow(black);
  margin-top: 2rem;
}


/* List of movies */
.top-section-list {
  /* background-image: url(../images/search_background.jpeg); */
  background-size: cover;
  background-position: 100% 55%;
  color: #000000;
  background-color:rgb(147, 142, 139);
  backface-visibility: hidden;
  height: 250px;
  padding: 1rem;
}

.top-section-list h1 {
  font-size: 70px;
  margin-left: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  backface-visibility: hidden;
  text-transform: uppercase;
  font-weight: 900;
  color: #000000;
  text-shadow: 30px 30px 70px rgba(255, 255, 255);
  -webkit-text-stroke: 2px #000;
}

.top-section-list h2 {
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  margin-left: 2rem;
  margin-top: -0.5rem;
  backface-visibility: hidden;
  color: #000000;
  text-shadow: 20px 20px 70px rgba(255, 255, 255);
}

.searchfield2 {
  background-color: rgb(213, 213, 213);
  opacity: 70%;
  text-align: start;
  width: 400px;
  height: 40px;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 5px;
  font-size: 20px;
  max-width: 100%;
  z-index: -1;
  margin-left: 2rem;
  margin-bottom: 0.2rem;
}

.genres {
  display: flex;
  width: 100%;
  background: linear-gradient(to bottom, rgb(102,82,67, 100%),rgb(135,81,41, 0%));
  color:#FFFFFF;
  border-radius: 4px;
}

.genres ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0.5rem;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.3s;
}

/* .product-movie {
  border: 0;
} */

/* .movie-selected {
  display: none;
} */

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 1000px) {
  .genres ul {
    padding: 0.5rem;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 18px;
  }
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 1000px) {
  .genres ul {
    display: flex;
    padding: 0.5rem;
    gap: 0.8rem;
    font-weight: 500;
    font-size: 12px;
  }
}

/* .movie-container {
  position: relative;
  display: inline-block;
  width: 275px;
  height: auto;
  object-fit: cover;
  margin: 1rem;
} */

.movie-container,
.action-movies,
.comedy-movies,
.drama-movies,
.kids-movies {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 0.5rem;
  border: 2px solid black;
  box-shadow: outside #000000;
  background: linear-gradient(to bottom,black, rgb(128, 106, 89));
  object-fit: cover;
}

.Action,
.Drama,
.Comedy,
.Kids {
  padding: 1rem;
  text-align: start;
  }

.movie-container img,
.action-movies img,
.comedy-movies img,
.drama-movies img,
.kids-movies img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: 400px;
  max-width: 100%;
  width: 275px;
  height: 425px;
  object-fit: cover;
  justify-content: center;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.4 ease-in;
  background: var(--secondary-color);
  border: 5px solid rgb(0, 0, 0, 0.16);
  border-radius: 6px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.movie-container img:hover,
.action-movies img:hover,
.comedy-movies img:hover,
.drama-movies img:hover,
.kids-movies img:hover {
  background-color: #FFFFFF;
}


/* Media query for larger screens (e.g., desktop) */
@media (min-width: 1000px) {
  .movie-container,
  .action-movies,
  .comedy-movies,
  .drama-movies,
  .kids-movies {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    border: 2px solid black;
    box-shadow: outside #000000;
    background: linear-gradient(to bottom,black, rgb(128, 106, 89));
    object-fit: cover;
    align-items: center;
  }

  .movie-container img,
  .action-movies img,
  .comedy-movies img,
  .drama-movies img,
  .kids-movies img {
    justify-content: center;
    align-items: center;
}
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 800px) {
.movie-container,
.action-movies,
.comedy-movies,
.drama-movies,
.kids-movies {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
}
}

.price-movie {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  position: relative; /* Change position to relative */
  margin-top: -5px;
  margin-bottom: 2px; /* Push the price-movie to the bottom */
  padding: 2px; /* Add some padding for spacing */
}

.fa-cart-plus {
  font-size: 2rem;
  margin: 3px;
  color: white; /* Set the color of the cart icon */
  cursor: pointer;
}

.fa-cart-plus:hover {
  color: rgb(13, 175, 40);
}

.price-movie span {
  font-weight: 500;
  color: white; /* Set the color of the price text */
}

.fa-ellipsis {
  position: absolute;
  background-color: grey;
  border-radius: 180px;
  padding: 1rem;
  text-align: center;
  transition: background-color 0.3s;
  font-size: 3rem;

}

.fa-ellipsis:hover {
  background-color: black;
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 1300px) {
  .fa-ellipsis {
    position: absolute;
    background-color: grey;
    padding: 1rem;
    text-align: center;
    right: -8rem;
    bottom: 13rem;
    transition: background-color 0.3s;
  }
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 1350px) {
  .fa-ellipsis {
    display: none;
  }

  .movie-container.icon-visible {
    margin-right: 0;
  }
}

/* Movie Page */

.movie-page {
  background: linear-gradient(to bottom, rgb(71,71,71),rgb(71,71,71), rgb(128, 106, 89));}

.movie-page-cover {
  font-size: 26px;
  padding: 1rem;
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 400px) {
  .trailer {
    position: absolute;
    top: 4rem;
  }
}

.trailer button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 30px;
  color: black;
  background-color: white;
  opacity: 60%;
  border-radius: 12px;
  border: 3px solid black;
  font-weight: bold;
}

.trailer {
  position: absolute;
  bottom: 4.2rem;
  right: 0.8rem;
}

.movie-title {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.movie-page-cover img {
  filter: opacity(20%);
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.movie-cover-index {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: 2rem;
  margin-bottom: 0;
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 1440px) {
  .movie-title {
    color: white;
    padding: 1rem;
    font-size: 40px;
  }

  .movie-page-cover img {
    filter: opacity(20%);
    position: 60% 20%;
   }
  }

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 600px) {
  .movie-title {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .movie-page-cover img {
    filter: opacity(20%);
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.age {
  border: solid black;
  margin-right: 2rem;
}

.price-cart-container {
  display: flex;
  justify-content: center;
}

.price {
  max-width: 1440px;
  height: 3rem;
  padding: 1rem;
  font-size: 22px;
  border-radius: 10px;
  background-color: rgb(21, 15, 11);
  color: #ffffff;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s;
}

.price:hover {
  background-color: grey;
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 400px) {
  .price {
    width: 1400px;
  }
}

.about-this {
  padding: 1rem;
  font-size: 24px;
  margin: 1rem;
}

.info-movie {
  padding: 1rem;
  font-size: 16px;
  margin: 1rem;
}

.quentin,
.leo,
.hour,
.number {
  font-weight: 100;
}

.you-might {
  display: flex;
  flex-direction: column;
}

.you-might h3 {
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
  font-size: 20px;
}

.you-might-movie-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.imgBatmanHomeMoviePage,
.imgHobbsHomeMoviePage,
.imgSweetHomeMoviePage {
  width: 275px;
  height: 425px;
  object-fit: cover;
  justify-content: center;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.16);
  cursor: pointer;
  border: 5px solid rgb(0, 0, 0, 0.16);
  border-radius: 6px;
  margin: 1rem;
  transition: background-color 0.3s;
}

.imgBatmanHomeMoviePage:hover,
.imgHobbsHomeMoviePage:hover,
.imgSweetHomeMoviePage:hover {
  background-color: #FFFFFF;
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 1400px) {
  .imgBatmanHomeMoviePage,
  .imgHobbsHomeMoviePage,
  .imgSweetHomeMoviePage {
    width: 275px;
    height: 425px;
}
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 600px) {
  .imgBatmanHomeMoviePage,
  .imgHobbsHomeMoviePage,
  .imgSweetHomeMoviePage {
    width: 125px;
    height: 175px;
    margin: auto;
}
}


/* Check out page */

.checkout-home {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
  text-align: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.where-you-are {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  background-color: #D9D9D9;
  border-radius: 1rem;
  width: 800px;
  height: 80px;
}

.arrow-icon,
.user-icon2,
.card-icon2,
.film-icon2 {
  font-size: 2.8rem;
  color: #000000;
}

.cart-icon2 {
  font-size: 2.8rem;
  color: #5FBF45;
}

.inside-checkout-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* Media query for larger screens (e.g., desktop) */
@media (min-width: 1000px) {
  .where-you-are {
    width: 750px;
  }

  .inside-checkout-bar i {
    margin: 1.6rem;
  }
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 600px) {
  .where-you-are {
    width: 400px;
  }

  .inside-checkout-bar i {
    margin: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    gap: 0;
  }
}

.cart {
    margin-top: 1rem;
    width: auto;
    max-width: 100%;
    height: fit-content;
    background-color: #D9D9D9;
    border: 2px solid #000000 50%;
    border-radius: 1rem;
    text-align: start;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }

  .imgOnceUpon-check {
    width: 400px;
    height: auto;
    padding: 1rem;
    border: #000000;
 }

  .checkout-cart {
    margin-top: 0.5rem;
    width: 90%;
    max-width: 100%;
    height: 800px;
    background-color: #D9D9D9;
    border: 2px solid #000000 50%;
    border-radius: 1rem;
    text-align: start;
    margin-left: 1rem;
  }

  .cart {
    display: flex;
    flex-direction: column;
  }

  .cart h1 {
    font-size: 30px;
    margin-left: 1rem;
  }

  .once-cart {
    padding: 1rem;
  }

  .cart p {
    font-weight: 200;
    font-size: 16px;
  }

  .cart h {
    bottom: 0;
  }

  .remove {
    text-align: end;
    bottom: 0;
    margin-top: -1.7rem;
    font-size: 12px;
    font-weight: 100;
  }

  .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 50px;
    background-color: #D9D9D9;
    border: 2px;
    border-radius: 1rem;
    color: black;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  .total h1,
  .total h {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  .next-page {
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 120px;
    padding: 5rem;
  }

  /* Media query for larger screens (e.g., desktop) */
@media (min-width: 1400px) {
  .checkout-cart {
    margin-top: 0.5rem;
    max-width: 100%;
    height: 800px;
    background-color: #D9D9D9;
    border: 2px solid #000000 50%;
    border-radius: 1rem;
    text-align: start;
    margin-left: 1rem;
  }

  .cart {
    display: flex;
    flex-direction: row;
  }

  .cart h {
    margin: 0;
  }

  .remove {
    margin-top: 22rem;
  }

  .total {
    width: auto;
  }

  .next-page {
    position: absolute;
    top: 65%;
    right: 1rem;
    font-size: 100px;
    padding: 5rem;
  }
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 600px) {
  .checkout-cart {
    margin-top: 0.5rem;
    width: 90%;
    max-width: 100%;
    height: 800px;
    background-color: #D9D9D9;
    border: 2px solid #000000 50%;
    border-radius: 1rem;
    text-align: start;
    margin-left: 1rem;
  }

  .cart {
    display: flex;
    flex-direction: column;
  }

  .cart h {
    bottom: 0;
  }

  .remove {
    text-decoration: underline;
    text-align: end;
    bottom: 0;
    margin-top: -1.7rem;
    font-size: 12px;
    font-weight: 100;
  }

  .total {
    margin-bottom: 1rem;
    width: auto;
  }

  .next-page {
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 80px;
    padding: 5rem;
  }
}

/* Checkout Successfull page */

.checkoutsuccess-home {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
  text-align: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.cart-icon3,
.arrow-icon2,
.user-icon3,
.card-icon3 {
  font-size: 2.8rem;
  color: #5FBF45;
}

.film-icon3{
  font-size: 2.8rem;
  color: #000000;
}


.successfull-container {
  margin-top: 1rem;
  max-width: 100%;
  height: 100%;
  background-color: #D9D9D9;
  border: 2px solid #000000 50%;
  border-radius: 1rem;
  text-align: start;
  margin-bottom: 5rem;
}

.check-icon {
  text-align: center;
  align-items: center;
}

.successfull-container h1 {
  text-align: center;
  color:#000000;
  margin-top: -2rem;
}

.successfull-container p {
  text-align: center;
  padding: 1rem;
  font-style: italic;
  color: #000000;
  margin-top: 0;
  max-width: 400px;
}

.checkout-cart button {
  justify-content: center;
}

.watch-now {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  margin-bottom: 1rem;
  background-color: rgb(68, 40, 28);
  background: linear-gradient(to right, rgb(68, 40, 28), rgb(218, 158, 115),rgb(68, 40, 28));
  color: black;
  width: 250px;
  height: 70px;
  font-size: 30px;
  border: 2px solid rgb(68, 40, 28);
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px;
  filter: drop-shadow(black);
  z-index: 1;
  transition: border-color 0.3s; /
}

.watch-now:hover {
  border-color: black;
  border: 5px solid;
}

.check-icon {
  align-items: center;
  justify-content: center;
  font-size: 100px;
  padding: 5rem;
}

/*Contact Us Form*/

.flex-grid {
  padding: 0.5rem;
}

.flex-grid .column {
  display: flex;
  flex: 1;
  background: var(--tertiary-color);
  padding: 1rem;
  border-radius: 5px;
  border: solid black 2px;
  justify-content: center;
  align-items: center;
  color: var(--text-color-1);
}

.flex-grid h1 {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 0;
}

.flex-grid p {
  font-size: 24px;
  text-decoration: solid;
}

input[type="text"] {
  margin-bottom: 1rem;
  font-size: 20px;
  border-radius: 5px;
  width: 210px;
}

textarea[id="message"] {
  font-size: 20px;
  border-radius: 5px;
  height: 150px;
  width: 210px;
}

select {
  font-size: 18px;
  border-radius: 5px;
  width: 215px;
  color: rgb(34, 33, 33);
  margin-bottom: 1rem;
}

input[type="submit"] {
  color: #000000;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 26%;
  width: 100px;
  border-radius: 20px;
  border: solid black;
  background-color: #ffffff;
}

/* Contact us page */

/* .contact {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  padding: 1rem;
  margin-bottom: 0;
  }

.contact-container {
  display: flex;
  padding: 3rem;
  background-color: grey;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  text-align: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-radius: 15px;
  box-shadow: #000000;
  justify-content: center;
}

.left-contact {
  border-radius: 5px solid;
  display: grid;
  grid: 25 25 25 25;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow:inset;
}

.right-contact {
  border-radius: 5px solid;
  align-items: center;
  padding: 1rem;
  margin-top: -1rem;
  box-shadow:inset;
} */


/* Media query for larger screens (e.g., desktop)
@media (min-width: 600px) {

  .contact-container {
    display: flex;
    padding: 3rem;
    background-color: grey;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    text-align: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    border-radius: 15px;
    box-shadow: #000000;
  }

} */

/* Media query for smaller screens (e.g., mobile)
@media (max-width: 600px) {

  .contact-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 2rem;
    padding: 1rem;
    margin-top: 3rem;
  }
}

.contact input[type="text"] {
  width: 100%;
  padding: 1rem;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 12px;
  margin: 10px 0;
  display: flex;
  width: 370px;
}

.left-contact {
  border-radius: 5px;
  display: grid;
  grid: 25 25 25 25;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  box-shadow:inset;
}

.contact-container p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 0.5rem;
  color: black;
}

.right-contact {
  border-radius: 5px;
  align-items: center;
  padding: 1rem;
  margin-top: -1rem;
  box-shadow:inset;
}

.text {
  border-radius: 12px;
}

.contact-message {
  position: relative;
  display: inline-block;
  margin-top: 3px;
}

input[type="message"] {
  width: 100%;
  padding: 1rem;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 12px;
  margin-top: -0.5rem;
  height: 300px;
  width: 370px;
  display: flex;
}

.send {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 15%;
  width: 100%;
  border-radius: 24px;
  background-color: #FFFFFF;

} */

.contact-info-boxes {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.contact-info-boxes h {
  margin-top: 1rem;
  margin-bottom: -2rem;
}


.our-email-box,
.our-phone-box,
.our-adress-box {
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 0 5px #000000;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 140px;
}

.our-email-box i,
.our-phone-box i,
.our-adress-box i {
  font-size: 55px;
  margin-bottom: 1rem;
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 1440px) {
  .contact-info-boxes {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 600px) {
  .contact-info-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
}

.typical-QA {
  text-align: center;
  text-decoration: underline;
  margin-top: 2rem;
  margin-bottom: 5rem;
}


/* About us page */

.about {
  background: linear-gradient(to bottom, rgb(71,71,71), rgb(128, 106, 89));
  text-align: center;
  padding: 1rem;
}

.about h1 {
  font-size: 40px;
  margin-top: 1rem;
}

.about p {
  font-size: 20px;
  font-weight: 200;
  margin-top: 1rem;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}


/* Play Movie Page

.movie {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  height: 400px;
  margin: 4rem auto;
  /* background-image: url(images/images/OnceUponATimeInHollywood.jpeg); */
  object-fit: cover;
  text-align: start;
  font-size: 40px;
  border-radius: 2px;
}

/* Media query for larger screens (e.g., desktop) */
@media (min-width: 1440px) { */
  /* .movie {
    flex-direction: column;
    width: 800px;
    height: 500px;
    object-fit: fill;
} */
}

/* Media query for smaller screens (e.g., mobile) */
/* @media (max-width: 600px) {
  .movie {
    flex-direction: ;
    width: 500px;
  } */
}